.commentForm {
  justify-content: space-between;
}
.commentForm input {
  width: 400px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 10px;
  padding-left: 20px;
  margin-right: 20px;
}

.commentsContainer {
  padding: 10px 0;
}

.commentedArea {
  display: flex;
  flex-direction: row;
}

.commentContent,
.displayedComment {
  text-align: left;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
