* {
  /* border: 1px solid grey; */
  list-style-type: none;
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

/* POST CREATE & UPDATE FORM */
.form {
  display: flex;
  flex-direction: column;
}

/* ALL POSTS */

.postDiv {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: 1px gray solid;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 50px;
}

.postUser {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.postUser img {
  width: 70px;
  border-radius: 50%;
}

.postUserName {
  padding: 0 0 10px 15px;
  align-self: flex-end;
  font-size: 1.5rem;
}

.postDetail img {
  width: 100%;
}

.postComment {
  margin: 20px 0;
  text-align: left;
}

.postIcons {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0;
  cursor: pointer;
}

.postIcons i {
  color: grey;
}

.postedTime {
  margin-top: 20px;
  align-self: flex-end;
  color: grey;
  font-size: 0.7rem;
}

.fas.fa-heart {
  color: red;
}
