.random-nft-home-container{
    width: 100%;
    height: 600px;
}
.random-nft-home-container h2{
    text-align: center;
 }
.random-nft-home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 160px;
    align-items: center;
}
.random-nft-home-container img{
    height: 500px;
    object-fit: contain;
}

.list-cards-nfts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;
}