* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('./assets/fonts/clash-grotesk.css');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'ClashGrotesk-Light';
  font-size: 16px;
  background-color: #F2F2F2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
header {
  padding: 0 40px;
}